html, body {
    overflow: hidden;
}

.absolute {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

canvas {
    background-color: #ddd;
}

canvas span {
    background-color: #ffff88;
}

.on-top {
    position: relative;
    z-index: 10;
}

.header {
    position: fixed;
    top: 35px;
    left: 100px;
}

@media (max-width: 700px) {
    .header {
        display: none;
    }
    
    /* IntroJS causes problems on mobile pages. */
    .help.button {
        display: none;
    }
}

.sub-header {
    position: fixed;
    top: 25px;
    right: 25px;
    text-align: right;
}

.danger-buttons {
    position: fixed;
    bottom: 25px;
    left: 25px;
}

.finished-buttons {
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.overlay {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255,255,255,0.8);
    -webkit-transition: left 0.5s;
    transition: left 0.5s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

overlay > * {
    margin: 1em 0;
}

.overlay.hidden {
    left: 100%;
}

.option-template {
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.option-template .space {
    display: flex;
    margin: 0.25em;
}

.option-template button {
    /* width: 3.5em; */
}

.results {
    color: grey;
}

.results .guess {
    color: black;
    font-size: 2em;
}

.reusults .confidence {
    color: black;
}

.results .confidence.high {
    color: green;
}

.results .confidence.low {
    color: red;
}

.results .confidence.medium {
    color: orange;
}

